<div class="wrapper social-media-page">

  <div class="col-lg-12 header-image-section-social">

    <div class="image-container-social">

      <img src="imagesnew/social_2.png" />
    </div>
  </div>
  <div class="col-xs-12 below-header-image-section">

    <!-- <div class="text-container-below-scimage"><span>Social</span></div> -->
  </div>
  <div class="main-main-contentsocial">

    <div class="col-xs-2"></div>
    <div class="col-xs-8  main-icons-content">

      <div class="col-lg-4">

        <div class="icon-cls-social fb-sc">
          <a> <img src="imagesnew/facebook.png" (click)="facbook()"> </a>
        </div>
        <!--<div class="text-label-sc"><span class="fb-lbl">Facebook</span></div>-->
      </div>

      <div class="col-lg-4">

        <div class="icon-cls-social twitter-sc">
          <a> <img src="imagesnew/twitter.png" (click)="twitter()"></a>
        </div>
        <!--<div class="text-label-sc"><span class="twitter-lbl">Twitter</span></div>-->
      </div>


      <div class="col-lg-4">

        <div class="icon-cls-social linkedin-sc">
          <a> <img src="imagesnew/linkedin.png" (click)="linkedIn()"> </a>
        </div>

        <!--<div class="text-label-sc"><span class="linkdein-lbl-lbl">Linkedin</span></div>-->


      </div>


    </div>
    <div class="col-xs-2"></div>
  </div>
  <div class="clear"></div>

</div>
