<div class="wrapper settngmenu-main-page">
  <div class="col-sm-1 col-xs-1 col-lg-1"></div>
  <div class="col-lg-10" style="padding-top: 5px; margin-top: 30px;">
    <ul class="nav nav-lists healthtick" ui-nav="" style="font-size:16px;">
      <div class="col-sm-6" style="font-weight: bold;color: rgb(100, 101, 105);padding-left: .1375rem;
    padding-right: .1375rem;">
        <li class="active" style = "text-align:end;">
          <a (click)="changeSecInfo()">
            <img src="img/change-security-info.png" style="width:30%;height:auto;margin-top:3%">
          </a>
        </li>
      </div>
      <div class="col-sm-6" style="font-weight: bold;color: rgb(100, 101, 105);padding-left: .1375rem;
    padding-right: .1375rem;">
        <li class="active" style = "text-align:start;">
          <a (click)="resetPassword()">
            <img src="img/chaange-password.png" style="width:30%;height:auto;margin-top:3%">
          </a>
        </li>
      </div>
      <div class="col-sm-6" style="font-weight: bold;color: rgb(100, 101, 105);padding-left: .1375rem;
    padding-right: .1375rem;">
        <li class="active" style = "text-align:end;">
          <a (click)="aboutTheApp()">
            <img src="img/about-the-app.png" style="width:30%;height:auto;margin-top:0.3rem">
          </a>
        </li>
      </div>
      <div class="col-sm-6" style="font-weight: bold;color: rgb(100, 101, 105);padding-left: .1375rem;
    padding-right: .1375rem;">
        <li class="active" style = "text-align:start;">
          <a (click)="resetUserId()">
            <img src="img/change-userID.png" style="width:30%;height:auto;margin-top:0.3rem">
          </a>
        </li>
      </div>
    </ul>
