<top-nav></top-nav>
<div class="wrapper change-security-section-page outerpages">
  <div class="col-xs-12 main-container-secutirysetting-section">

    <div class="col-xs-4"></div>
    <div class="col-xs-4 main-content-reset-pass-info glb-shd-cls">
      <ul>
        <li> Password: </li>
        <li><input type="password" placeholder="Enter password" [(ngModel)]="newPassword"></li>
        <li> Re-enter Password:</li>
        <li><input type="password" placeholder="Re-enter password" [(ngModel)]="reNewPassword"></li>
      </ul>
      <ul class="hint-pass-info">
        <li>Your Password</li>
        <li>must be at least 6 characters</li>
        <li>has not been used in the previous 8 passwords</li>
        <li>does not contain your account or full name</li>
        <li>has minimum 3 days between password reset</li>
        <li>contain at least 3 of the following 4 character groups:</li>
        <li>a) English uppercase characters (A through Z)</li>
        <li> b) English lowercase characters (a through z)</li>
        <li>c) Numerals 0 through 9</li>
        <li>d) Non-alphabetic characters (such as !, $, #, %)</li>
      </ul>
      <div class="col-xs-12">
        <div class="col-xs-6"><button type="submit" (click)="resetForgotPassword(newPassword, reNewPassword)" class="btn-block md-button">Save</button></div>
        <div class="col-xs-6"><button md-ink-ripple class="btn-block md-button" (click)="resetForgotCancel()">Cancel</button></div>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <div class="clear"></div>
</div>
